.header{
   padding:1rem 0rem 1rem 0rem;
    /* background-color: rgb(250, 61, 61); */
    width:100%;
    
}

.badAction span{
        background: rgba(148, 0, 211);
        transform: translateY(-3px);
        width: 100%;
        padding: 14px;
        font-weight: 700;
        color: #fff;
        border-radius: 3px;
        margin: 10px 0 0px;
        border: none;
        cursor: pointer;
        transition: filter 0.2s;
        font-size: 16px;
      
}