nav{
    background-color: rgb(206, 189, 189);
    color: red;
    padding:0.1rem 0rem 0.1rem 0rem;
    display:flex;
    font-size:20px;
    
}


.B {
    width: 100%;
    padding: 14px;
    font-weight: 700;
    background: #16f74b;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    font-size: 16px;

    
  }

  .nav button:hover {
    filter: brightness(0.9);
  }

  .Agenda--ativa {
    background: rgba(148, 0, 211);
    transform: translateY(-3px);
    width: 100%;
    padding: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    font-size: 16px;
  }


  .Agenda--ativa-D {
    background: rgb(237, 4, 4);
    transform: translateY(-3px);
    width: 100%;
    padding: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    font-size: 16px;
  }

  /* .B button{
    width: 100%;
    padding: 14px;
    font-weight: 700;
    background: #16f74b;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    font-size: 16px;

    
  } */